body{
  background-color: rgb(250, 250, 250);
}

nav{
  background-color: dodgerblue;
}
#active{
  color: white;
}

.card a {
  color: white;
  background-color: dodgerblue;
  text-decoration: none;
}
.card a:hover {
  color: white;
  background-color: rgb(20, 110, 200);
  text-decoration: none;
}

section{
  margin: 150px 0 80px 0;
}

.intro-head, .projects-head, .skills-head{
  font-size: 40px;
  font-weight: 500;
}

.greeting{
  font-size: 26px;
  font-weight: 200;
  font-family: 'Ubuntu', sans-serif;
}

.online-presence{
  position: absolute;
  right: 1%;
  top: 14px;
}

.online-presence a {
  margin: 0 10px;
  text-align: center;
  color:rgb(20, 20, 20);
  text-decoration: none;
}

.online-presence a:hover{
  color: rgb(240, 240, 240);
  background-color: dodgerblue;
  border-radius: none;
}

.my-picture {
  height: 250px;
  box-shadow: 6px 4px 4px grey;
  margin-top: 20px;
}

.card {
  width: 10rem;
  font-weight: bold;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 2px rgb(190, 190, 190) solid;
}
.contact-list{
  list-style: none;
}

.contact-item a{
  text-decoration: none;
  color: black;
  transition: all;
}
.contact-item p{
  position: relative;
  font-size: large;
  font-weight: bold;
  bottom: 20%;
}

.contact-item:hover{
  transform: scale(1.2);
}

@media (max-width: 991px){
  section{
    margin: 120px 0 50px 0;
  }

  .online-presence{
    position: relative;
    top: 0;
    right: 10px;
  }
  .card{
    font-size: 12px;
    font-weight: bold;
    width: 8rem;
  }
}

@media (max-width: 767px){
  nav{
    margin-bottom: 50px;
  }
  section{
    margin-bottom: 80px;
  }

  .card{
    font-size: 8px;
    font-weight: bold;
    width: 6rem;
  }
  .projects-head, .skills-head, .intro-head {
    font-size: 28px;
    font-weight: 600;
    text-align:center;
  } 
  .greeting{
    font-size: 18px;
    font-weight: 200;
  }
}