.my-picture {
  height: 200px;
  box-shadow: 6px 4px 4px grey;
  margin-top: 20px;
}
.online-presence{
  position: absolute;
  right: 0%;
  top: 14px;
}
@media (max-width: 991px){
  .online-presence{
    position: relative;
    top: 0;
    right: 10px;
  }
}
.online-presence a {
  margin: 0 10px;
  text-align: center;
  color:black;
  text-decoration: none;
}

.online-presence a:hover{
  color: white;
}

.icon {
  height:100px;
  width:100px;
}
.card{
  border: 2px black solid;
}